@page "{Id:Guid}"
@model Bloggie.Web.Pages.Admin.Blogs.EditModel
@{
}


<div class="bg-secondary bg-opacity-10 py-2 mb-5">
    <div class="container">
        <h1>Edit Blog post</h1>
    </div>
</div>

<partial name="_Notification" ></partial>


@if (Model.blogPost != null)
{
    <div>
        <div class="container">
            <form method="post">
                <div class="mb-3">
                    <label for="heading" class="form-label">Id</label>
                    <input type="text" class="form-control" id="id" asp-for="blogPost.Id" readonly>
                </div>

                <div class="mb-3">
                    <label for="heading" class="form-label">Heading</label>
                    <input type="text" class="form-control" id="heading" asp-for="blogPost.Heading">
                </div>
            
                <div class="mb-3">
                    <label for="pageTitle" class="form-label">Page Title</label>
                    <input type="text" class="form-control" id="pageTitle" asp-for="blogPost.PageTitle">
                </div>

                <div class="mb-3">
                    <label for="content" class="form-label">Content</label>
                    <textarea class="form-control" id="content" asp-for="blogPost.Content"></textarea>
                </div>

                <div class="mb-3">
                    <label for="ShortDescription" class="form-label">Short Description</label>
                    <input type="text" class="form-control" id="ShortDescription" asp-for="blogPost.ShortDescription">
                </div>

                <div class="mb-3">
                    <label for="FeaturedImageUpload" class="form-label">Featured Image Upload</label>
                    <input type="file" id="FeaturedImageUpload" asp-for="FeaturedImage" />

                    @if(Model.blogPost.FeaturedImageUrl != null)
                    {
                        <img src="@Model.blogPost.FeaturedImageUrl" id="featuredImageDisplay" style="width:300px;" />
                    } else
                    {
                        <img src="" id="featuredImageDisplay" style="display:none; width:300px;" />
                    }

                </div>

                <div class="mb-3">
                    <label for="FeaturedImageUrl" class="form-label">Featured Image URL</label>
                    <input type="text" class="form-control" id="FeaturedImageUrl" asp-for="blogPost.FeaturedImageUrl"> 
                </div>

                <div class="mb-3">
                    <label for="UrlHandle" class="form-label">Url Handle</label>
                    <input type="text" class="form-control" id="UrlHandle" asp-for="blogPost.UrlHandle">
                </div>

                <div class="mb-3">
                    <label for="PublishedDate" class="form-label">Published Date</label>
                    <input type="date" class="form-control" id="PublishedDate" asp-for="blogPost.PublishedDate">
                </div>

                <div class="mb-3">
                    <label for="Author" class="form-label">Author</label>
                    <input type="text" class="form-control" id="Author" asp-for="blogPost.Author">
                </div>

                <div class="form-check mb-3">
                  <input class="form-check-input" type="checkbox" id="isVisible" asp-for="blogPost.Visible">
                  <label class="form-check-label" for="isVisible" >
                    Is Visible
                  </label>
                </div>

                <div class="mb-3 d-flex justify-content-between">
                    <button class="btn btn-primary" type="submit" asp-page-handler="Edit">Submit</button>
                    <button class="btn btn-danger" type="submit" asp-page-handler="Delete">Delete</button>
                </div>

        
            </form>

        </div>

    </div>
    
} else {
    <div class="container">
        <p>Blog Post Not Found</p>
    </div>

}


@section Scripts {
    <script>
        var editor = new FroalaEditor('#content', {
            imageUploadURL : '/api/images'
        });

        const featuredImageUploadElement = document.getElementById('FeaturedImageUpload');
        const FeaturedImageUrl = document.getElementById('FeaturedImageUrl');
        const featuredImageDisplay = document.getElementById('featuredImageDisplay');

        async function uploadFeaturedImage(e) {
            console.log(e.target.files[0]);

            let data = new FormData();
            data.append('file', e.target.files[0]);

            await fetch('/api/images', {
                method: 'POST',
                headers: {
                    'Accept': '*/*',
                },
                body: data

            }).then(response => response.json())
                .then(result => {
                    FeaturedImageUrl.value = result.link;
                    featuredImageDisplay.style.display = 'block';
                    featuredImageDisplay.src = result.link;

                });

        }

        featuredImageUploadElement.addEventListener('change', uploadFeaturedImage)

    </script>
    

}




